html {
    box-sizing: border-box;
}

body {
    box-sizing: inherit;
}

a {
    color: #000;
    text-decoration: none;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    max-width : 1320px ;
    margin: 0 auto;
    padding: 0 24px;
}

@media (max-width : 992px) {
    .container {
        padding: 0 20px;
    }    
}

// .d-flex {
//     display: flex;
// }

.d-none {
    display: none;
}

.cover {
    background-size: cover;
}
.top {
    position: fixed;
    z-index: 3;
    right: 16px;
    bottom: 16px;
}
// header start
header {
    margin-bottom: 60px;
    .hero-bg {
        position: relative;
        height: 819px;
        background-color: $color-lightGray;
        background-image: url('../img/hero-xxl.png');
        background-repeat: no-repeat;
        background-position: center;
    }
    .hero-title {
        font-family: $font-hero;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
        animation-name: hero_text_move;
        animation-duration: 2s;
        .pad-show {
            display: none;
        }
        h2 {
            font-size: 64px;  
            letter-spacing: 15px;          
            span {
                font-size: $font-xxl;
                display: block;
            }
        }
        > p {
            font-family: $font-main ;
            font-size: $font-s; 
            letter-spacing: 3px;  
            margin-top: 10px;         
        }
    }
    .hero-price {
        font-size: $font-m;
        margin: 64px 0 42px;
        align-items: center;
        > p {
            letter-spacing: 5px; 
        }
        .hero-size {
            margin-left: 160px;
            .hero-size-list {
                padding: 0 6px;
                &.active {
                    p {
                        color: $color-white;
                        border: none;
                        background: $color-primary;
                    }
                }
                p {
                    width: 42px;
                    height: 42px;
                    color: $color-primary;
                    font-size: 16px;
                    text-align: center;
                    line-height: 42px;
                    border: $border-blue;
                    border-radius: 21px;
                }
            }
        }        
    }
    .hero-btn {
        button {
            font-size: $font-m;
            color: $color-white;
            background: $color-primary;
            border: $border-blue;
            padding: 8px 16px;
            border-radius: 8px;
            transition: all .5s;
            &:hover {
                color: $color-primary;
                background: transparent;
            }
        }
    }
    nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 5;
        padding: 20px 0;
        background: rgba(255,255,255,.7);
        animation-name: navbar_move;
        animation-duration: 1s;
        .container {
            align-items: center;
        }
        h1 {
            a {
                display: block;
                width: 276px;
                height: 23px;
                background: url('../img/FASHION\ MATE-logo.png') no-repeat;
                text-indent: 101%;
                overflow: hidden;
                white-space: nowrap;     
            }
        }
        .menu{
            display: flex;
            margin-left: auto;
            >.d-flex{
                align-items: center;
            }
            a {
                padding: 0 15px;
                transition: all .5s;
                &:hover {
                    color: $color-primary;
                }
            }
            .user {
                align-items: center;
            }
            .search {
                position: relative;
                padding: 0 15px;
                .searchText{
                    width: 128px;
                    font-size: 14px;
                    border: none;
                    border-radius: 8px;
                    background: $color-white;
                    padding: 3px 24px 3px 8px;
                }
                button {
                    position: absolute;
                    right: 17px;
                    top: 3px;
                    padding: 0 3px;
                    border: none;
                    background-color: transparent;
                    cursor: pointer;
                }
            }
        }
        .menu-show-icon {
            display: none;
            font-size: 24px;            
            margin-left: auto;
            color: $color-primary;
        }
    }    
}
// navbar 動畫
@keyframes navbar_move {
    0% {
        top: -70px;
    }

    100% {
        top: 0px;
    }
}
// hero 動畫定義
@keyframes hero_text_move {
    0% {
        top: 30%;
        opacity: 0;
    }
    50%{
        top: 30%;
        opacity: 0;
    }
    100%{
        top: 50%;
        opacity: 1;
    }
}
// hot 動畫
@keyframes hot_move {
    0%{
        opacity: 0;
        transform: translateY(160%);
    }
    66%{
        opacity: 0;
        transform: translateY(160%);
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
}
@keyframes hero_text_move_phone {
    0% {
        top: 0%;
        opacity: 0;
    }
    50%{
        top: 0%;
        opacity: 0;
    }
    100%{
        top: 15%;
        opacity: 1;
    }
}
// header-ipad
@media (max-width : 992px) {
    .menu-none {
        display: none;
    }
    header {
        .hero-bg {
            background-image: url('../img/ipad-hero.png');
            background-position: right bottom;
        }
        .hero-title {
            left: 6%;
            transform: translateY(-50%);
            .pad-show {
                display: block;
                text-align: center;
            }
            .web-show {
                display: none;
            }
            > p {
                text-align: center;
            }
        }
        .hero-price {
            flex-direction: column;
            > p {
                margin-bottom: 20px;
                letter-spacing: 5px; 
            }
            .hero-size {
                margin-left: 0;                
            }        
        }
        .hero-btn {
            text-align: center;
        }
        nav {
            .menu {
                display: none;
                position: absolute;
                top: 65px;
                left: 0;
                right: 0;
                padding: 8px 0;
                background: rgba(255,255,255,.7);
                a{
                    padding: 8px;
                } 
                >.d-flex{
                    justify-content: center;
                }               
            }
            .menu-show-icon {
                display: block;
                cursor: pointer;
            } 
        }
    }

}

// header-phone
@media (max-width: 576px) {
    header {
        .hero-bg {
            background-image: url('../img/hero-phone.png');
        }
        .hero-title {
            top: 15%;
            left: 50%;
            transform: translateX(-50%);
            animation-name: hero_text_move_phone;
            .pad-show {
                font-size: 40px;
                span {
                    font-size: 32px;
                }
            }
            > p {
               font-size: 14px;
               letter-spacing: 2px; 
               white-space: nowrap;
            }
        }
        .hero-price {
            display: none!important;
        }
        .hero-btn {
            margin-top: 16px;
            button {
                font-size: 16px;
            }
            
        }
        nav {
            .menu {
                padding: 8px 20px;
                background: rgba(255,255,255,.7);
                a{
                    display: block;
                    padding: 20px;
                }
                hr {
                    margin: 0;
                }
                >.d-flex{
                    flex-direction: column;
                    align-items: flex-start;
                }  
                .user {
                    width: 100%;
                }
                .search {
                    width: 80%;
                    .searchText{
                        width: 100%;
                    }
                }
            }
            .menuList {
                width: 100%;
                order: 1;
            }

        }
    }
}

// header end

// hot start
.hot {
    margin-bottom: 60px;
    animation-name: hot_move;
    animation-duration: 3s;
    ul {
        overflow-x: auto;
        li {
            width: 305px;
            color: $color-primary;
            border: $border-blue;
            padding: 10px;
            border-radius: 8px;
            text-align: center;
            margin: 0 12.5px;
            white-space: nowrap;
        }
    }
}

// ad start
.advertise {
    margin-bottom: 86px;
    .advertise-1 {
        background: $color-lightGray;
        margin-bottom: 112px;
        .main-img {
            background: url('../img/ad-1.jpg');
        }
        .line {
            background: $color-primary;
        }
    }
    .advertise-2 {
        background: $color-primary;
        .container{
            flex-direction: row-reverse;
        }
        .main-img {
            background: url('../img/ad-2.jpg');
            background-position: center;
        }
        .advertise-text {
            color: $color-white;
            .line {
                background: $color-white;
            }
        }
    }
    .container {
        justify-content: space-between;
        align-items: center;
    }
    .advertise-img {
        width: 424px;
        height: 481px;
        margin-top: -26px;
        margin-bottom: -26px;
        .main-img{
            height: 100%;            
            background-size: cover;
        }
    }
    .advertise-text {
        max-width: 536px;
        margin: 0 16px;
        align-items: center;
        justify-content: space-between;
        .main-text{
            margin-left: 16px;
            h3 {
                font-size: $font-m;
            }
            p {
                margin-top: 16px;
            }
        }
        .line {
            width: 3px;
            height: 150px;
        }
    }
    .advertise-img-s {
        width: 312px;
        img {
            width: 100%;
            height: 188px;
            object-fit: cover;
            margin: 8px 0;
        }
    }
}

@media (max-width : 992px) {
    .advertise {
        .advertise-img {
            width: 50%;
        }
        .line {
            height: 168px;
        }
        .advertise-text {
            width: 50%;
            margin: 0 0 0 16px;
        }
        .advertise-img-s{
            display: none;
        }
    }
}

@media (max-width: 576px) {
    .advertise {
        margin-bottom: 60px;
        .advertise-1 {
            margin-bottom: 60px;
        }
        .advertise-2 {
            .container{
                flex-direction: column;
            }
        }
        .container {
            padding: 0;
            flex-direction: column;
        }
        .advertise-img {
            width: 100%;
            margin: 0 0 16px 0;
        }
        .advertise-text {
            width: 90%;
            margin: 0;
            padding-bottom: 16px;
            .line {
                height: 190px;
            }
        }
    }
}

// product start
.productTitle {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    h3 {
        font-size: 20px;
        border-left: $border-blue-b;
        padding-left: 8px;
    }
    a {
        color: $color-primary;
        padding: 4px 8px;
        border: $border-blue;
    }
}
.product {
    margin-bottom: 60px;
}
.productList {
    flex-wrap: wrap;
    margin-left: -2%;
    margin-right: -2%; 
    li {
        width: 23%;
        box-shadow: $box-shadow;
        margin: 1%;
        .productImg {
            height: 264px;
            margin-bottom: 16px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
        .productText {
            padding: 0 8px;
        }
        .productInfo {
            margin-bottom: 16px;
            .size {
                margin-right: auto;
                p {
                    margin-right: 8px;
                }
            }
            .price {
                align-items: center;
                span {
                    color: $color-darkGray;
                    font-size: 12px;
                    text-decoration: line-through;
                }
                p {
                    margin-left: 8px;
                }
            }
        }
        button {
            width: 100%;
            font-size: 16px;
            color: $color-white;
            background: $color-primary;
            border: none;
            padding: 16px 0;
            cursor: pointer;
            &:hover {
                background: rgba(107,126,159,.8)
            }
        }
    }
}

@media (max-width : 992px) {
    .productList {
        li {
            width: 46%;
            margin: 2%;
            .productImg {
                height: 317px;
            }
        }
    }
}

@media (max-width: 576px) {
    .productList {
            margin-left: 0;
            margin-right: 0; 
        li {
            width: 100%;
            margin: 0 0 5% 0;
            .productImg {
                height: 282px;
            }
        }
    }
}

//menuImg start
.menuImg {
    margin-bottom: 60px;
    .container{
        >.row {
            margin-left: -24px;
            margin-right: -24px;
        }
    }
    .col {
        margin-bottom: 24px;
    }
    .img-box {
        height: 100%;
        overflow: hidden;
        a{
            img{
                transition: all .5s;
            }
            &:hover img {
                transform: scale(1.1);
            }
        }
    }
    .img-01{
        position: relative;
        height: 588px;
    }
    .img-02 {
        position: relative;
        height: 288px;
    }
    .img-03 {
        position: relative;
        height: 588px;
    }

    .img-04 {
        position: relative;
        height: 288px;
    }

    .img-05 {
        position: relative;
        height: 288px;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    .img-text {
        position: absolute;
        top: 0;
        left: 12px;
        right: 12px;
        bottom: 0;
        background: rgba(255,255,255,.5);
        transition: all .5s;
        &:hover {
            opacity: 0;
        }
        h4 {
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: $font-xl;
            font-weight: bold;
            transform: translate(-50%,-50%);
        }
    }
}

@media (max-width : 992px) {
    .menuImg {
        .container{
            >.row {
                margin-left: -12px;
                margin-right: -12px;
            }
        }
        .img-text {
            h4 {
                font-size: $font-m;
            }
        }
    }
}

@media (max-width: 576px) {
    .menuImg {
        .col{
            margin-bottom: 12px;
        }
        .col-12 {
            margin-bottom: 12px;
        }
        .img-01{
            height: 160px;
        }
        .img-02 {
            height: 160px;
        }
        .img-03 {
            height: 160px;
        }
        .img-04 {
            height: 160px;
        }
        .img-05 {
            height: 160px;
        }
    }
    
}

// subscribed start
.subscribed{
    position: relative;
    text-align: center;
    .container {
        padding: 50px 0;
    }
    .subscribedText {
        max-width: 628px;
        margin: 0 auto;
        h3 {
            font-size: $font-xl;
        }
        p {
            font-size: $font-xxl;
            margin: 30px 0;
        }
        .subscribed-form {
            width: 100%;
            input {
                font-size: $font-m;
                width: 90%;
                border: none;
                padding: 8px;
                margin: 0;
                border-radius: 8px 0 0 8px;
            }
            .subscribedBtn {
                width: 10%;
                border: none;
                color: #fff;
                border-radius: 0 8px 8px 0;
                background: $color-primary;
                font-size: $font-m;
                cursor: pointer;
                justify-content: center;
                align-items: center;
            }
        }        
    }
    .subscribed-bg{
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: $color-lightGray;
        .bg-img-1{
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;
            width: 131px;
            height: 216px;
            background-image: url('../img/input-點.png');
        }
        .bg-img-2{
            position: absolute;
            top: 10px;
            right: 0;
            z-index: -1;
            width: 292px;
            height: 192px;
            background-image: url('../img/input-點-長.png');
        }
    }
}

@media (max-width : 992px) {
    .subscribed{
        .subscribedText {
            max-width: 470px;
            h3 {
                font-size: $font-l;
            }
            p {
                font-size: $font-xl;
            }
        }
        .subscribed-bg{
            .bg-img-1{
                width: 100px;
            }
            .bg-img-2{
                width: 140px;
            }
        }
    }
}

@media (max-width: 576px) {
    .subscribed{
        .subscribedText {
            max-width: 320px;
            h3 {
                font-size: 16px;
            }
            p {
                font-size: $font-m;
                margin: 16px 0;
            }
            .subscribed-form {
                width: 100%;
                input {
                    font-size: 16px;
                }
                .subscribedBtn {
                    font-size: 16px;
                }
            }
        }
        .subscribed-bg{
            .bg-img-1{
                width: 70px;
                height: 90px;                
            }
            .bg-img-2{
                width: 90px;
                height: 60px;                  
            }
        }
    }
}


// footer start
footer {
    color: #fff;
    background: $color-primary;
    padding: 16px 0;
    .container {
    position: relative;
    }
    p {
        text-align: center;
    }
    .footerIcon{
        position: absolute;
        top: 0;
        right: 20px;
        margin-left: auto;
        i {
            margin-left: 16px;
        }
    }
}

@media (max-width: 576px){
    footer {
        .container {
        position: static;
        display: flex;
        flex-direction: column;
        }
        p {
            order: 2;
        }
        .footerIcon{
            position: static;
            margin-right: auto;
            margin-bottom: 8px;
        }
    }
}