$color-primary : #6B7E9F ;
$color-lightBlue : #B2BFD4 ;
$color-lightGray : #F4F4F4 ;
$color-gray : #D9D9D9 ;
$color-darkGray : #C3C3C3 ;
$color-white : #fff ;

$font-xs : 12px ;
$font-s : 20px ;
$font-m : 24px ;
$font-l : 32px ;
$font-xl : 36px ;
$font-xxl : 48px ;

$border-blue : 1px solid #6B7E9F ;
$border-gray : 1px solid #D9D9D9 ;
$border-blue-b : 3px solid #6B7E9F ;
$border-white-b : 3px solid #fff ;

$box-shadow : 0 1px 6px rgba(0,0,0,.35) ;

$font-hero : "Faustina", "serif" ;
$font-main : "Roboto", "sans-serif" ;